.survey-title {
  height: 40vmin;
  pointer-events: none;
}

.content-text {
  /* text-align: center; */
}

.question-text {
  text-align: center;
  color: black;
  font-weight: 500;
}

.previous-next-buttons {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
